nav{
 position: absolute;
    right: 0px;
    
}
.leftBox{
position: absolute;
    left: 10px;
width:300px;
	
}
.rightBox{
    position: absolute;
    right: 0px;
    width:400px;

}
h1{
		text-align: center;
		color: red;
    	
		}
		h3{

		}
#Child{
	color:blue;
}
